h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

ul {
    background-color: rgb(199, 225, 247);
    list-style: none;
    padding: 20px;
}

li {
    text-align: center;
    padding: 5px;
}

li a {
    color: black;
}